/* Events pages */
.all_events {
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
}
#back_to_events {
    margin-top: 2rem;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}
#back_to_events:hover {
  transform: translateX(-5px); 
  color: darkblue;            
}

.event_info {
    display: inline-block;
    margin: 2rem 0 2rem;
    padding-right: 2rem;
}
.event_info p,
.event_info h2,
.event_info h3 {
    font-family: Arial, sans-serif;
    margin: 20px 0;
    text-align: left;
    justify-self: start;
}
.info_title {
    color: grey;
    font-size: 1rem;
    padding-left: 1rem;
}
.info {
    padding-left: 2rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.two_col {
  display: grid;
  grid-template-columns: repeat(2, 0.125fr);
}
.col_2 {
    display: inline-block;
    white-space: nowrap;
}
.power_in_nums {
    padding: 1vw;
    background-color: rgba(186, 218, 229, 0.5);
    width: 60vw;
    height: 40vh;
    justify-self: center;
}
.power_in_nums h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.four_col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.col_4 {
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
}
.col_4 img{
    /*border: 1px solid black; */
    max-width: 5vw;
    max-height: 7vw;
    object-fit: contain;
    justify-self: center;
}

.about_events h2{
    margin-top: 6rem;
    text-align: left;
    justify-self: start;
    font-weight: bold;
    font-size: 1.5rem;
}
.about_events p {
    margin-top: 1rem;
    text-align: left;
    justify-self: start;
    font-weight: lighter;
    font-size: 1.25rem;
}

.images {
    margin: 2rem;
    padding: 2rem;
}
.main_image {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;
}
.main_image img {
    width: 600px;
    height: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: block;
    margin: 0 auto;
    position: relative;
}
.row_images {
    display: flex;
    gap: 1rem;
    margin-left: 15rem;
    flex-wrap: wrap;
}
.row_images img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3;
}
.row_images img:hover {
    transform: scale(1.05);
}
.row_images img.selected {
  outline: 2px solid rgb(239, 210, 157);
  filter: brightness(1.1);
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 768px) {
    .styled_text {
        font-size: 2rem;
    }
    .event_info {
        margin-top: 0;
    }
    .power_in_nums {
        background: (186, 218, 229, 0.5);
        height: fit-content;
    }
    .four_col {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 2vh;
        padding-bottom: 2vh;
        margin-bottom: 0;;
        /* border: 1px solid black; */
    }
    .col_4 img {
        margin-bottom: 1vh;
    }
    .col_4 h2,
    .col_4 p {
        margin: 0;
        padding: 0;
    }
    .main_image {
        justify-content: center;
        justify-self: center;
        max-width: 80vw;
    }
    .main_image img{
        margin: 0 auto 1rem auto;
        padding: 0;
        width: 70vw;
        object-fit: contain;
        height: auto;
    }

    .row_images {
        margin: 0;
        padding: 0;
        justify-content: left;
        flex-wrap: wrap;
        width: 70vw;
        justify-self: center;
    }

    .row_images img {
        width: 10vw;
    }
}
